{% extends 'core/base.html' %}
{% load static %}
{% load tz %}

{% block page_title %}
Calendar
{% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'core//styles//form_card.css' %}">
<link rel="stylesheet" href="{% static 'core//styles//content_container.css' %}">
<link rel="stylesheet" href="{% static 'booking//styles//session_calendar.css' %}">
{% endblock stylesheets %}

{% block header_content %}
<div id="content-header">
    <div id="header-text">
        <h1>
            Session Calendar
        </h1>
        
        <p>View your bookings or book a new session using the calendar</p>
    </div>
</div>
{% endblock header_content %}

{% block content %}
<div class="form-card booking-modal" id="session-booking-modal">
    <div class="form-header">
        <h2>Book a session</h2>
        <p>
            Enter a title for your session and submit the form to book a session.
        </p>
    </div>

    <!-- Session Booking Form Section -->
    <form action="{% url 'booking:book_session' %}" id="session-booking-form">
        {% csrf_token %}

        <div class="form-fields">
            <div class="form-field">
                <label for="title" hidden>Session Title</label>
                <input
                    id="title" 
                    name="title" 
                    class="form-input"
                    placeholder="Session title"
                    required
                >
                <small class="field-message"></small>
            </div>

            <div class="form-field">
                <label for="date" hidden>Date</label>
                <input
                    id="date" 
                    type="date"
                    name="date" 
                    class="form-input"
                    placeholder="What day do you want to book?"
                    required
                >
                <small class="field-message"></small>
            </div>

            <div class="form-field">
                <label for="start-time" hidden>Start Time</label>
                <input
                    id="start-time" 
                    type="time"
                    name="start_time" 
                    class="form-input"
                    placeholder="What time do you want to start?"
                    required
                >
                <small class="field-message"></small>
            </div>

            <div class="form-field">
                <label for="end-time" hidden>End Time</label>
                <input
                    id="end-time" 
                    type="time"
                    name="end_time" 
                    class="form-input"
                    placeholder="What time do you want to end?"
                    required
                >
                <small class="field-message"></small>
            </div>
        </div>

        <div class="submit-btn-wrapper">
            <button class="btn-primary submit-btn" type="submit">
                Book Session
            </button>
        </div>
    </form>
</div>

<div class="form-card booking-modal" id="session-edit-modal">
    <div class="form-header">
        <h2>Edit Booking Info</h2>
        <p>
            Click on save to update the booking info.
        </p>
    </div>

    <!-- Session Edit Form Section -->
    <form action="{% url 'booking:update_session' %}" id="session-edit-form">
        {% csrf_token %}

        <div class="form-fields">
            <input
                type="text"
                id="session-id" 
                name="session-id" 
                class="form-input"
                placeholder="Session ID"
                required
                hidden
            >

            <div class="form-field">
                <label for="title" hidden>Session Title</label>
                <input
                    id="title" 
                    name="title" 
                    class="form-input"
                    placeholder="Session title"
                    required
                >
                <small class="field-message"></small>
            </div>

            <div class="form-field">
                <label for="date" hidden>Date</label>
                <input
                    id="date" 
                    type="date"
                    name="date" 
                    class="form-input"
                    placeholder="What day do you want to book?"
                    required
                >
                <small class="field-message"></small>
            </div>

            <div class="form-field">
                <label for="start-time" hidden>Start Time</label>
                <input
                    id="start-time" 
                    type="time"
                    name="start_time" 
                    class="form-input"
                    placeholder="What time do you want to start?"
                    required
                >
                <small class="field-message"></small>
            </div>

            <div class="form-field">
                <label for="end-time" hidden>End Time</label>
                <input
                    id="end-time" 
                    type="time"
                    name="end_time" 
                    class="form-input"
                    placeholder="What time do you want to end?"
                    required
                >
                <small class="field-message"></small>
            </div>
        </div>

        <div class="submit-btn-wrapper">
            <button class="btn-primary submit-btn" type="submit">
                Save
            </button>
        </div>
    </form>
</div>

<section id="content-container">
    <span id="user-timezone" style="display: none !important;">{{ request.user.utz }}</span>

    <div id="session-calendar">
    </div>
</section>

{% include "booking/tandc.html" %}
{% endblock content %}


{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/core@6.1.11/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/interaction@6.1.11/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/daygrid@6.1.11/index.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fullcalendar/timegrid@6.1.11/index.global.min.js"></script>

<script src="{% static 'booking//scripts//sessionCalendar.js' %}"></script>
<script src="{% static 'booking//scripts//bookSession.js' %}"></script>
<script src="{% static 'booking//scripts//editSession.js' %}"></script>
{% endblock scripts %}

