<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/base/styles/main.css">
    <link rel="stylesheet" href="../../static/base/styles/index.css">
</head>
<body>
    <header>
        <div class="container">
            <div id="header-logo">
                @logo
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="">Sign In</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero-section container">
        <div class="hero-content">
            <h1>Main information of service</h1>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Sint atque quidem dolorum reprehenderit quod tempora impedit asperiores distinctio modi officiis?
            </p>
            <a href="" class="btn">Get Started</a>
        </div>

        <div class="hero-image">
            <img src="../../static/base/images/hero-image.png" alt="">
        </div>
    </section>
</body>
</html>
