/* Overriding Fullcalendar styling */
.fc-button-primary{
    background: var(--dark-gray) !important;
    border-color: var(--bg-gray) !important;
    font-size: clamp(14px, 1.5vw, 16px) !important;
}

.fc-toolbar-title{
    font-size: clamp(16px, 2vw, 20px) !important;
    min-width: max-content !important;
}

.fc-timegrid-slot-lane{
    padding: 5px 10px !important;
}


/* Session Calendar */
#session-calendar{
    margin: 20px auto 10px auto;
    width: 100%;
    height: 100%;
    max-width: 800px;
    max-height: 550px;
    min-height: 75vh !important;
}

.loading{
    pointer-events: none !important;
    opacity: 0.4 !important;
}


.in-time-view{
    display: auto !important;
}


/* Custom buttons */
.fc-header-toolbar{
    align-items: center !important;
    gap: 4px !important;
}

.fc-header-toolbar .fc-button-group{
    display: inline-flex !important;
    gap: 2px !important;
    flex-wrap: wrap-reverse !important;
    justify-content: flex-end !important;
    align-self: flex-start !important;
    max-width: max-content !important;
}

.fc-button-group > .fc-button{
    max-width: max-content !important;
    font-size: clamp(12px, 1.5vw, 14px) !important;
    border-radius: 4px !important;
}

.fc-button-group > .fc-button:hover{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) !important;
}

.fc-header-toolbar #fc-dom-1.fc-toolbar-title{
    text-align: center !important;
}

.fc-backToMonth-button{
    display: none !important;
}

#session-calendar.in-time-view .fc-backToMonth-button{
    display: block !important;
}

#session-calendar.in-time-view .fc-next-button{
    display: none !important;
}

#session-calendar.in-time-view .fc-prev-button{
    display: none !important;
}

#session-calendar.in-time-view .fc-today-button{
    display: none !important;
}


.unavailable-time-slot{
    pointer-events: none !important;
    background-color: rgba(255, 0, 0, 0.6) !important;
    color: var(--white) !important;
    touch-action: none !important;
    text-align: center;
    padding: 20px 10px !important;
}

.booked-session{
    background-color: var(--theme-color-trans) !important;
    color: var(--white) !important;
    border-radius: 8px !important;
    border: none !important;
    text-align: center;
    padding: 15px 10px !important;
    cursor: pointer !important;
}

.session-cancelled{
    background-color: rgba(255, 0, 0, 0.5) !important;
}

.session-pending{
    background-color: var(--theme-color-light-trans) !important;
}

.session-held{
    background-color: var(--theme-color-trans) !important;
}

.session-missed{
    background-color: var(--light-gray) !important;
    color: #888 !important;
}

.session-has-url{
    cursor: pointer;
    outline: 1px solid var(--ash-gray);
}

/* Session Forms */
.booking-modal{
    display: none;
    position: fixed !important;
    top: 50%;
    left: 60%;
    transform: translate(-60%, -50%);
    z-index: 99;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 90%;
    isolation: isolate;
}

#main-content:has(.booking-modal.show-block){
    overflow: hidden !important;
}

.booking-modal > form :is(input[type='date'], input[type='time']){
    pointer-events: none !important;
    opacity: 0.4 !important;
}


@media screen and (max-width: 360px){
    .fc-backToMonth-button{
        padding: 5px 6px !important;
    }
}
