#header-text > h1{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0 4px;
}

#header-text > h1 > svg{
    fill: var(--teal) !important;
}

#account-details{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-block: 5px; */
}

#account-details > .form-card, #change-password > .form-card{
    box-shadow: none;
}

#auto-timezone{
    font-size: 11px;
    color: var(--teal);
    font-weight: 500;
    text-decoration: underline;
    cursor: pointer;
    align-self: flex-end;
}

#more-account-options{
    display: flex;
    flex-direction: column;
    gap: 16px 0;
    justify-content: flex-start;
    align-items: flex-start;
    padding-block: 5px;
}

#more-account-options > a{
    font-size: 12px;
    font-weight: 500;
}

#more-account-options > #resend-verification-email{
    font-weight: 600;
}

#more-account-options > #account-delete{
    font-size: 11px;
    color: red;
}
