{% extends "core/main.html" %}
{% load static %}

{% block page_title %}Reset Password{% endblock page_title %}

{% block mainstylesheets %}
<link rel="stylesheet" href="{% static 'core//styles//form_card.css' %}">
<link rel="stylesheet" href="{% static 'users//styles//forgot_password.css' %}">
{% endblock mainstylesheets %}

{% block html_body %}
<body>
    <main class="container">
        <div id="forgot-password">
            <div class="form-card">
                <div class="form-header">
                    <h2>Reset password</h2>
                    <p>
                        Enter a new password to reset your account password.
                    </p>
                </div>
        
                <!-- Reset Password Form Section -->
                <form action="{% url 'users:reset_password' %}" id="reset-password-form">
                    {% csrf_token %}

                    <div class="form-fields">
                        <div class="form-field">
                            <label for="new-password1" hidden>New password</label>
                            <input
                                type="password"
                                id="new-password1" 
                                name="new-password1" 
                                class="form-input"
                                placeholder="New password"
                                minlength="8"
                                required
                            >
                            <small class="field-message"></small>
                        </div>

                        <div class="form-field">
                            <label for="new-password2" hidden>Confirm new password</label>
                            <input
                                type="password"
                                id="new-password2" 
                                name="new-password2" 
                                class="form-input"
                                placeholder="Confirm password"
                                minlength="8"
                                required
                            >
                            <small class="field-message"></small>
                        </div>
                    </div>
        
                    <div class="submit-btn-wrapper">
                        <button class="btn-primary submit-btn" type="submit" disabled>
                            Reset password
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </main>
</body>
{% endblock html_body %}

{% block mainscripts %}
<script src="{% static 'core//scripts//formCard.js' %}"></script>
<script src="{% static 'users//scripts//resetPassword.js' %}"></script>
{% endblock mainscripts %}
