{% extends 'core/main.html' %}
{% load static %}


{% block mainstylesheets %}
<link rel="stylesheet" href="{% static 'core//styles//form_card.css' %}">
<link rel="stylesheet" href="{% static 'users//styles//auth_page.css' %}">
{% endblock mainstylesheets %}


{% block page_title %}Create an account{% endblock page_title %}

{% block html_body %}
<body style="background-image: url({% static 'users/images/origami.jpg' %});">
    <div class="container">
        <main>
            <section id="main-text">
                <h1>XYZ</h1>
                <p>
                    Create an account to start using XYZ.
                </p>
            </section>

            <section id="form-wrapper">
                <div class="form-card">
                    <div class="form-header">
                        <h2>Sign Up</h2>
                        <p>
                            Let's set up your account.
                        </p>
                    </div>
                    <!-- Account Creation Form Section -->
                    <form action="{% url 'users:signup' %}" id="signup-form">
                        {% csrf_token %}

                        <div class="form-fields">
                            <div class="form-field">
                                <label for="name" hidden>Name</label>
                                <input 
                                    type="text" 
                                    id="name" 
                                    name="name" 
                                    class="form-input" 
                                    placeholder="Name" 
                                    maxlength="100" 
                                    autofocus
                                    autocomplete="given-name"
                                    required
                                    title="Enter your preferred name, e.g. John Doe"
                                >
                                <small class="field-message"></small>
                            </div>
                            
                            <div class="form-field">
                                <label for="email" hidden>Email Address</label>
                                <input 
                                    type="email" 
                                    id="email" 
                                    name="email" 
                                    class="form-input"
                                    placeholder="Email address" 
                                    autocomplete="email"
                                    required
                                    title="Enter your email address. You will be required to verify it."
                                >
                                <small class="field-message"></small>
                            </div>
                            
                            <div class="form-field">
                                <label for="password1" hidden>Password</label>
                                <input 
                                    type="password" 
                                    id="password1" 
                                    name="password1" 
                                    class="form-input" 
                                    placeholder="Password"
                                    minlength="8" 
                                    required
                                    title="Enter a password of at least 8 characters"
                                >
                                <small class="field-message"></small>
                            </div>
                            
                            <div class="form-field">
                                <label for="password2" hidden>Confirm Password</label>
                                <input 
                                    type="password" 
                                    id="password2" 
                                    name="password2" 
                                    class="form-input"
                                    placeholder="Confirm password" 
                                    minlength="8" 
                                    required
                                    title="Re-enter your password"
                                >
                                <small class="field-message"></small>
                            </div>
                        </div>

                        <div class="submit-btn-wrapper">
                            <button class="btn-primary submit-btn" type="submit">
                                Sign Up
                            </button>
                        </div>

                        <div class="form-footer">
                            <small class="footer-item">
                                Already have an account?
                                <a href="{% url 'users:signin' %}">Sign in</a>
                            </small>
                        </div>
                    </form>
                </div>
            </section>

        </main>
    </div>
</body>
{% endblock html_body %}


{% block mainscripts %}
<script src="{% static 'core//scripts//formCard.js' %}"></script>
<script src="{% static 'users//scripts//signup.js' %}"></script>
{% endblock mainscripts %}

