{% extends 'core/base.html' %}
{% load static %}
{% load tz %}
{% load django_utz %}

{% block page_title %}
Dashboard
{% endblock page_title %}

{% block stylesheets %}
<link rel="stylesheet" href="{% static 'core//styles//content_container.css' %}">
<link rel="stylesheet" href="{% static 'dashboard//styles//dashboard.css' %}">
{% endblock stylesheets %}

{% block header_content %}
<div id="content-header">
    <div id="header-text">
        <h1>
            Welcome back, {{ request.user.firstname | title }}
        </h1>
        {% if todays_sessions %}
            <p>Here are today's pending sessions updated for you!</p>
        {% else %}
            <p>There are no pending session today, for now!</p>
        {% endif %}
    </div>
</div>
{% endblock header_content %}

{% block content %}
<!-- Allows django_utz to display all datetimes in the request user's timezone -->
{% usertimezone %}
<div id="content-container">
    <section id="session-cards">
        {% for session in todays_sessions %}
            <div class="session-card">
                <div class="session-card-head">
                    <svg 
                        xmlns="http://www.w3.org/2000/svg" 
                        width="24" height="24" viewBox="0 0 24 24" 
                        style="fill: currentColor;"
                    >
                        <path d="M19 4h-3V2h-2v2h-4V2H8v2H5c-1.103 0-2 .897-2 2v14c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2V6c0-1.103-.897-2-2-2zm-7 10H7v-2h5v2zm5-4H7V8h10v2z"></path>
                    </svg>

                    <div class="card-head-text">
                        <h3>{{ session.title | title }}</h3>
                        <a href="{% url 'booking:calendar' %}?date={{ session.date }}&event={{ session.id }}&edit=true">Reschedule</a>
                    </div>
                </div>

                <div class="session-card-body">
                    <h2>{{ session.start | date:"jS N" }} - {{ session.start | time }}</h2>
                    {% if not session.missed %}
                        {% if session.link %}
                            <a href="{{ session.link.path }}">
                                Join the meeting
                            </a>
                        {% else %}
                            <p class="no-link">Session link unavailable</p>
                        {% endif %}
                    {% else %}
                        <p class="missed">You missed this session</p>
                    {% endif %}
                </div>
            </div>
        {% empty %}
            <div id="no-sessions">
                <p>No pending sessions today</p>
                <a href="{% url 'booking:calendar' %}">
                    <button class="btn-secondary">Book a session</button>
                </a>
            </div>
        {% endfor %}
    </section>

    <section id="news-section">
        <div class="section-head">
            <h3>News Today</h3>
            <svg 
                xmlns="http://www.w3.org/2000/svg" 
                width="24" height="24" viewBox="0 0 24 24" 
                style="fill: currentColor;"
            >
                <path d="M4 18h2v4.081L11.101 18H16c1.103 0 2-.897 2-2V8c0-1.103-.897-2-2-2H4c-1.103 0-2 .897-2 2v8c0 1.103.897 2 2 2z"></path>
                <path d="M20 2H8c-1.103 0-2 .897-2 2h12c1.103 0 2 .897 2 2v8c1.103 0 2-.897 2-2V4c0-1.103-.897-2-2-2z"></path>
            </svg>
        </div>

        <div class="section-body">
            {%  for news in todays_news %}
                <div class="news">
                    <h4 class="news-headline">{{ news.headline | title }}</h4>
                    <p class="news-content">
                        {{ news.content | urlize }}
                    </p>
                </div>
            {% empty %}
                <p id="no-news">No news today</p>
            {% endfor %}
        </div>
    </section>
</div>
{% endusertimezone %}
{% endblock content %}

{% block scripts %}
{% endblock scripts %}

